/*body{
    
    background-color: gray;
}*/
/*.row{

  background-color: black;
}*/

#info{
    color: #f19132;
}
  
#content{
   background-color:#7a5230;
   color: #f19132
}
#hellur{
    background-color:#7a5230;
    
}

#location{
    background-color:#7a5230;
    color:#f19132
}

#index{
    background-color: gray;
    color: white;
}

#links{
    color: #f19132;
}

#signup{
    /*background-color: gray;*/
   color: red;
   padding: 10px;
   }
   h1 { 
    font-size: 150%;
	margin-bottom: .5em;
    color: white;
	
}
h4{
    color: white;
}
p {
	color: white;
}
h2 {
	font-size: 140%;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: .2em;
	color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;

}

li a {
     float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
	margin-left: 10px;
    
}

li a:hover {
    background-color: #111;
}

